
NET "user_seg[0]" LOC = P51;
NET "user_seg[0]" IOSTANDARD = LVTTL;
NET "user_seg[1]" LOC = P41;
NET "user_seg[1]" IOSTANDARD = LVTTL;
NET "user_seg[2]" LOC = P35;
NET "user_seg[2]" IOSTANDARD = LVTTL;
NET "user_seg[3]" LOC = P33;
NET "user_seg[3]" IOSTANDARD = LVTTL;
NET "user_seg[4]" LOC = P30;
NET "user_seg[4]" IOSTANDARD = LVTTL;
NET "user_seg[5]" LOC = P27;
NET "user_seg[5]" IOSTANDARD = LVTTL;
NET "user_seg[6]" LOC = P24;
NET "user_seg[6]" IOSTANDARD = LVTTL;

NET "user_sel[0]" LOC = P22;
NET "user_sel[0]" IOSTANDARD = LVTTL;
NET "user_sel[1]" LOC = P17;
NET "user_sel[1]" IOSTANDARD = LVTTL;
NET "user_sel[2]" LOC = P15;
NET "user_sel[2]" IOSTANDARD = LVTTL;
NET "user_sel[3]" LOC = P12;
NET "user_sel[3]" IOSTANDARD = LVTTL;
NET "user_sel[4]" LOC = P10;
NET "user_sel[4]" IOSTANDARD = LVTTL;
NET "user_sel[5]" LOC = P8;
NET "user_sel[5]" IOSTANDARD = LVTTL;

NET "user_buttons[0]" LOC = P58;
NET "user_buttons[0]" IOSTANDARD = LVTTL;
NET "user_buttons[0]" PULLDOWN;
NET "user_buttons[1]" LOC = P67;
NET "user_buttons[1]" IOSTANDARD = LVTTL;
NET "user_buttons[1]" PULLDOWN;
NET "user_buttons[2]" LOC = P75;
NET "user_buttons[2]" IOSTANDARD = LVTTL;
NET "user_buttons[2]" PULLDOWN;
NET "user_buttons[3]" LOC = P79;
NET "user_buttons[3]" IOSTANDARD = LVTTL;
NET "user_buttons[3]" PULLDOWN;
NET "user_buttons[4]" LOC = P81;
NET "user_buttons[4]" IOSTANDARD = LVTTL;
NET "user_buttons[4]" PULLDOWN;
NET "user_buttons[5]" LOC = P83;
NET "user_buttons[5]" IOSTANDARD = LVTTL;
NET "user_buttons[5]" PULLDOWN;


NET "user_led[0]" LOC = P118;
NET "user_led[0]" IOSTANDARD = LVTTL;
NET "user_led[1]" LOC = P116;
NET "user_led[1]" IOSTANDARD = LVTTL;
NET "user_led[2]" LOC = P114;
NET "user_led[2]" IOSTANDARD = LVTTL;

NET "user_led[3]" LOC = P111;
NET "user_led[3]" IOSTANDARD = LVTTL;
NET "user_led[4]" LOC = P104;
NET "user_led[4]" IOSTANDARD = LVTTL;
NET "user_led[5]" LOC = P101;
NET "user_led[5]" IOSTANDARD = LVTTL;

NET "user_led[6]" LOC = P99;
NET "user_led[6]" IOSTANDARD = LVTTL;
NET "user_led[7]" LOC = P97;
NET "user_led[7]" IOSTANDARD = LVTTL;
NET "user_led[8]" LOC = P94;
NET "user_led[8]" IOSTANDARD = LVTTL;

NET "user_led[9]" LOC = P92;
NET "user_led[9]" IOSTANDARD = LVTTL;
NET "user_led[10]" LOC = P87;
NET "user_led[10]" IOSTANDARD = LVTTL;
NET "user_led[11]" LOC = P84;
NET "user_led[11]" IOSTANDARD = LVTTL;

NET "user_led[12]" LOC = P82;
NET "user_led[12]" IOSTANDARD = LVTTL;
NET "user_led[13]" LOC = P80;
NET "user_led[13]" IOSTANDARD = LVTTL;
NET "user_led[14]" LOC = P78;
NET "user_led[14]" IOSTANDARD = LVTTL;

NET "user_led[15]" LOC = P74;
NET "user_led[15]" IOSTANDARD = LVTTL;
NET "user_led[16]" LOC = P66;
NET "user_led[16]" IOSTANDARD = LVTTL;
NET "user_led[17]" LOC = P57;
NET "user_led[17]" IOSTANDARD = LVTTL;


NET "user_solve_button[0]" LOC = P85;
NET "user_solve_button[0]" IOSTANDARD = LVTTL;
NET "user_solve_button[0]" PULLDOWN;


NET "user_solvable[0]" LOC = P95;
NET "user_solvable[0]" IOSTANDARD = LVTTL;


NET "beep_button" LOC = P102;
NET "beep_button" IOSTANDARD = LVTTL;
NET "beep_button" PULLDOWN;


NET "beep" LOC = P105;
NET "beep" IOSTANDARD = LVTTL;
