
NET "array_seg[0]" LOC = P51;
NET "array_seg[0]" IOSTANDARD = LVTTL;
NET "array_seg[1]" LOC = P41;
NET "array_seg[1]" IOSTANDARD = LVTTL;
NET "array_seg[2]" LOC = P35;
NET "array_seg[2]" IOSTANDARD = LVTTL;
NET "array_seg[3]" LOC = P33;
NET "array_seg[3]" IOSTANDARD = LVTTL;
NET "array_seg[4]" LOC = P30;
NET "array_seg[4]" IOSTANDARD = LVTTL;
NET "array_seg[5]" LOC = P27;
NET "array_seg[5]" IOSTANDARD = LVTTL;
NET "array_seg[6]" LOC = P24;
NET "array_seg[6]" IOSTANDARD = LVTTL;

NET "array_sel[0]" LOC = P22;
NET "array_sel[0]" IOSTANDARD = LVTTL;
NET "array_sel[1]" LOC = P17;
NET "array_sel[1]" IOSTANDARD = LVTTL;
NET "array_sel[2]" LOC = P15;
NET "array_sel[2]" IOSTANDARD = LVTTL;
NET "array_sel[3]" LOC = P12;
NET "array_sel[3]" IOSTANDARD = LVTTL;
NET "array_sel[4]" LOC = P10;
NET "array_sel[4]" IOSTANDARD = LVTTL;
NET "array_sel[5]" LOC = P8;
NET "array_sel[5]" IOSTANDARD = LVTTL;

NET "data_seg[0]" LOC = P81;
NET "data_seg[0]" IOSTANDARD = LVTTL;
NET "data_seg[1]" LOC = P83;
NET "data_seg[1]" IOSTANDARD = LVTTL;
NET "data_seg[2]" LOC = P85;
NET "data_seg[2]" IOSTANDARD = LVTTL;
NET "data_seg[3]" LOC = P88;
NET "data_seg[3]" IOSTANDARD = LVTTL;
NET "data_seg[4]" LOC = P93;
NET "data_seg[4]" IOSTANDARD = LVTTL;
NET "data_seg[5]" LOC = P95;
NET "data_seg[5]" IOSTANDARD = LVTTL;
NET "data_seg[6]" LOC = P98;
NET "data_seg[6]" IOSTANDARD = LVTTL;

NET "data_sel[0]" LOC = P58;
NET "data_sel[0]" IOSTANDARD = LVTTL;
NET "data_sel[1]" LOC = P67;
NET "data_sel[1]" IOSTANDARD = LVTTL;
NET "data_sel[2]" LOC = P75;
NET "data_sel[2]" IOSTANDARD = LVTTL;
NET "data_sel[3]" LOC = P79;
NET "data_sel[3]" IOSTANDARD = LVTTL;

NET "user_buttons[0]" LOC = P6;
NET "user_buttons[0]" IOSTANDARD = LVTTL;
NET "user_buttons[0]" PULLDOWN;
NET "user_buttons[1]" LOC = P2;
NET "user_buttons[1]" IOSTANDARD = LVTTL;
NET "user_buttons[1]" PULLDOWN;
NET "user_buttons[2]" LOC = P144;
NET "user_buttons[2]" IOSTANDARD = LVTTL;
NET "user_buttons[2]" PULLDOWN;
NET "user_buttons[3]" LOC = P142;
NET "user_buttons[3]" IOSTANDARD = LVTTL;
NET "user_buttons[3]" PULLDOWN;
NET "user_buttons[4]" LOC = P140;
NET "user_buttons[4]" IOSTANDARD = LVTTL;
NET "user_buttons[4]" PULLDOWN;
NET "user_buttons[5]" LOC = P138;
NET "user_buttons[5]" IOSTANDARD = LVTTL;
NET "user_buttons[5]" PULLDOWN;

NET "array_led[0]" LOC = P57;
NET "array_led[0]" IOSTANDARD = LVTTL;
NET "array_led[1]" LOC = P66;
NET "array_led[1]" IOSTANDARD = LVTTL;
NET "array_led[2]" LOC = P74;
NET "array_led[2]" IOSTANDARD = LVTTL;

NET "array_led[3]" LOC = P78;
NET "array_led[3]" IOSTANDARD = LVTTL;
NET "array_led[4]" LOC = P80;
NET "array_led[4]" IOSTANDARD = LVTTL;
NET "array_led[5]" LOC = P82;
NET "array_led[5]" IOSTANDARD = LVTTL;

NET "array_led[6]" LOC = P84;
NET "array_led[6]" IOSTANDARD = LVTTL;
NET "array_led[7]" LOC = P87;
NET "array_led[7]" IOSTANDARD = LVTTL;
NET "array_led[8]" LOC = P92;
NET "array_led[8]" IOSTANDARD = LVTTL;

NET "array_led[9]" LOC = P94;
NET "array_led[9]" IOSTANDARD = LVTTL;
NET "array_led[10]" LOC = P97;
NET "array_led[10]" IOSTANDARD = LVTTL;
NET "array_led[11]" LOC = P99;
NET "array_led[11]" IOSTANDARD = LVTTL;

NET "array_led[12]" LOC = P101;
NET "array_led[12]" IOSTANDARD = LVTTL;
NET "array_led[13]" LOC = P104;
NET "array_led[13]" IOSTANDARD = LVTTL;
NET "array_led[14]" LOC = P111;
NET "array_led[14]" IOSTANDARD = LVTTL;

NET "array_led[15]" LOC = P114;
NET "array_led[15]" IOSTANDARD = LVTTL;
NET "array_led[16]" LOC = P116;
NET "array_led[16]" IOSTANDARD = LVTTL;
NET "array_led[17]" LOC = P118;
NET "array_led[17]" IOSTANDARD = LVTTL;


NET "solve_button" LOC = P112;
NET "solve_button" IOSTANDARD = LVTTL;
NET "solve_button" PULLDOWN;
NET "start_button" LOC = P115;
NET "start_button" IOSTANDARD = LVTTL;
NET "start_button" PULLDOWN;


NET "user_solvable[0]" LOC = P100;
NET "user_solvable[0]" IOSTANDARD = LVTTL;
NET "user_solvable[1]" LOC = P102;
NET "user_solvable[1]" IOSTANDARD = LVTTL;
NET "user_solvable[2]" LOC = P105;
NET "user_solvable[2]" IOSTANDARD = LVTTL;


NET "beep" LOC = P105 | IOSTANDARD = LVTTL;
